<!DOCTYPE html>
<html lang="en">
{% include headB.html %}

<body style="background-color:black; color: white">
    {% include headerB.html %}

    {{ content }}

   
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!---- Google api -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
</body>

</html>